﻿
@using ADNUG.Lightning.Web.Models.DataTransferObjects
@model  ADNUG.Lightning.Web.Models.DataTransferObjects.DriveInfoDto

<hr /> 

@if (Model.FolderGrid.Any())
{
    <div id="crumbs" class="col-xs-12">@Model.BreadCrumbTrail</div>

    <bootstrap-table>
        <tbody>
            @foreach (var row in Model.FolderGrid)
            {
                <tr>

                    @foreach (var cell in row)
                    {
                        <td>
                            @if (@cell.Empty)
                            {
                                <span class="folder-under-text">@cell.Name</span>
                            }
                            else
                            {
                                <a class="lnk" href="@("/api/HardDrive/GetContents")" data-fullpath="@cell.FullPath" data-type="@(cell.Icon == "fa-folder" ? "folder" : "file")">
                                    <span class="fa @(cell.Icon) @(cell.Icon == "fa-folder" ? "folder" : "file")"></span>
                                    <br />
                                    <span class="folder-under-text">@cell.Name</span>
                                </a>
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </bootstrap-table>

}
else
{
    <div style="margin-top: 20px">The was an access violation for one of the directories.</div>
}
