﻿@using ADNUG.Lightning.Web.Models
@model ADNUG.Lightning.Web.Models.HardDriveViewModel

<div class="row">

    <div class="col-xs-offset-3 col-xs-6">
        <form asp-controller="FolderBrowser" asp-action="IndexWithId" asp-antiforgery="false" method="get" class="form">

            <div class="form-group">
                <label asp-for="SelectedDriveId">Select a drive and Click the Submit Drive button</label>
                <select asp-for="SelectedDriveId" asp-items="Model.DriveLetters" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit Drive" class="btn btn-default" />
            </div>
        </form>
    </div>

    <div id="dirList" class="col-xs-offset-3 col-xs-6">
        @await Component.InvokeAsync("DirectoryGrid", new { fullPath = @Model.SelectedDriveId })
    </div>

</div>
