﻿@using ADNUG.Lightning.Web.Models
@model ADNUG.Lightning.Web.Models.PersonEditModel

@{
    ViewBag.Title = "Built In Tag Helpers Example";
    Layout = "_Layout";
}

<h2>Built In Tag Helpers Example</h2>

<form asp-controller="Person" asp-action="BuiltInTagHelpers" method="post" asp-antiforgery="true">

    <div>
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" type="text" />
    </div>
    <div>
        <label asp-for="LastName"></label>
        <input asp-for="LastName" type="text" />
    </div>
    <div><button>Submit</button></div>
</form>