﻿@using ADNUG.Lightning.Web.Models
@model ADNUG.Lightning.Web.Models.PersonEditModel

@{
    ViewBag.Title = "ModelExpression Example";
    Layout = "_Layout";
}

<h2>ModelExpression Example</h2>

<form asp-controller="Person" asp-action="Index" method="post">
    
    <form-text-input ad-for="FirstName"></form-text-input>
    <form-text-input ad-for="LastName"></form-text-input>
    <form-text-input ad-for="Age"></form-text-input>
    <br />  
    <formbutton type="submit" bg-color="primary"></formbutton>

</form>