﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    
    <input type="text" 
           name="EmailAddress" 
           ad-form-input 
           ad-label-text="Email Address" 
           ad-name-id="exampleInputEmail1" />
    
</div>
